packages:
  yum:
    libjpeg-turbo-devel: []
    libpng-devel: []
    zlib-devel: []
    freetype-devel: []
    postgresql93-devel: []
  
container_commands:
      
  02_cache_control:
    command: 'cp extra_modules.conf /etc/httpd/conf.d'
    
  02_mpm:
    command: 'cp 00-mpm.conf /etc/httpd/conf.modules.d'
    
  03_migrate:
    command: 'python manage.py migrate --noinput'
    leader_only: true
      
  04_collectstatics:
    command: 'python manage.py collectstatic --noinput'
    
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "central.settings"    
  "aws:elasticbeanstalk:container:python":
    WSGIPath: central/wsgi.py
    NumProcesses: 1
    NumThreads: 10
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"